<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/head::head"></head>

<body>

<!-- cabecera -->
<header th:insert="layouts/header::header"></header>
<!--tabla para mostrar los datos-->
<div class="container">
    <div class="row justify-content-md-center">

        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nombre</th>
                <th scope="col">#</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="barrio: ${barrios}">
                <td><span th:text="${barrio.id}"></span></td>
                <td><span th:text="${barrio.nombre}"></span></td>
                <td>
                    <a th:href="@{'/admin/borrarBarrio/' + ${barrio.id}}">Borrar</a>
                      -
                    <a th:href="@{'/admin/editarBarrio/' + ${barrio.id}}">Editar</a>
                </td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">

                <li class="page-item" th:if="${pagina != 0}">
                    <a class="page-link" th:href="@{'/admin/crear-barrio.html?pagina=' + ${pagina - 1} + '&total=' + ${total}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Anterior</span>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link" th:href="@{'/admin/crear-barrio.html?pagina=' + ${pagina + 1} + '&total=' + ${total}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Siguiente</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>

    <hr />

    <form class="form-signin" method="post" name="crear" action="/admin/crearBarrioAction">
        <div class="form-group row">
            <label for="nombre1" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
                <input type="text" name="nombre" class="form-control" id="nombre1">
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Crear</button>
    </form>

</div>

<style>
    .container { margin-top: 80px; }
</style>
</body>
</html>