<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/head::head"></head>
<body>

<!-- cabecera -->
<header th:insert="layouts/header::header"></header>

<!--card para mostrar los datos-->
<h3>Veterinarios</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 mt-4" th:each="v: ${veterinarios.veterinario}">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <h5 class="card-title" th:text="${v.nombre}"></h5>
                </div>
                <div class="card-body text-justify">
                    <img src="/img/icono_direccion.png" alt="..." class="rounded float-left">
                    <p class="card-text" th:text="${v.direccion}"></p>

                    <img src="/img/icono_telefono.png" alt="..." class="rounded float-left">
                    <p class="card-text" th:text="${v.telefono}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div th:insert="layouts/footer::footer"></div>
<!-- Footer -->
<style>
     .container-fluid {
        margin-top: 80px;
    }

</style>
</body>
</html>